<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHC14hI-EEM2e0B1rMCfdOBgdvUt3ZjAs</string>
	<key>GCM_SENDER_ID</key>
	<string>805477857271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMandeanApp</string>
	<key>PROJECT_ID</key>
	<string>themandaeanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>themandaeanapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805477857271:ios:d1f4189f205a6d5864e0f2</string>
	<key>DATABASE_URL</key>
	<string>https://themandaeanapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>